<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="layout" value="${longdate} ${message}"/>
  <targets>
    <target name="canlogfile" xsi:type="File" fileName="canLog.txt" keepFileOpen="true" layout="${layout}" />
    
    <target name="devicelogfile" xsi:type="File" fileName="deviceLog.txt" keepFileOpen="true"  layout="${layout}" />
    
    <target name="kwplogfile" xsi:type="File" fileName="kwpLog.txt" keepFileOpen="true" layout="${layout}" /> 
    
    <target name="flasherlogfile" xsi:type="File" fileName="flasherLog.txt" keepFileOpen="true" layout="${layout}" />

    <target name="apilogfile" xsi:type="File" fileName="apiLog.txt" keepFileOpen="true" layout="${layout}" />
    
    <target name="uilogfile" xsi:type="File" fileName="uiLog.txt" keepFileOpen="true" layout="${layout}" />
  </targets>

  <rules>
    <logger name="TrionicCANLib.CAN.*" level="Trace" writeTo="canlogfile" />
    <logger name="TrionicCANLib.CAN.*" level="Debug" writeTo="devicelogfile" />
    <logger name="TrionicCANLib.KWP.*" level="Trace" writeTo="kwplogfile" />
    <logger name="TrionicCANLib.Flasher.*" level="Debug" writeTo="flasherlogfile" />
    <logger name="TrionicCANLib.API.*" level="Debug" writeTo="apilogfile" />
    <logger name="TrionicCANFlasher.*" level="Trace" writeTo="uilogfile" />
  </rules>
</nlog>