<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="canlogfile" xsi:type="File" fileName="canLog.txt" />
    <target name="devicelogfile" xsi:type="File" fileName="deviceLog.txt" />
    <target name="kwplogfile" xsi:type="File" fileName="kwpLog.txt" />
    <target name="flasherlogfile" xsi:type="File" fileName="flasherLog.txt" />
    <target name="uilogfile" xsi:type="File" fileName="uiLog.txt" />
  </targets>

  <rules>
    <logger name="CanLog" minlevel="Info" writeTo="canlogfile" />
    <logger name="DeviceLog" minlevel="Info" writeTo="devicelogfile" />
    <logger name="KwpLog" minlevel="Info" writeTo="kwplogfile" />
    <logger name="FlasherLog" minlevel="Info" writeTo="flasherlogfile" />
    <logger name="UILog" minlevel="Info" writeTo="uilogfile" />
  </rules>
</nlog>